/* Style sheet to tune appearance of the side widget
 * and the parameter/slot tables
 */

QListView#sideWidget {
	font-size: 11pt;
	min-width: 110px;
}

QListView#sideWidget:!active {
	color: black;
	background: transparent;
}

QListView#sideWidget::item:!active {
	border: 0px solid transparent;
	border-left-width: 16px;
	margin: 6px 0px 6px 0px;
	padding: 0px 0px 0px 3px;
	color: gray;
}

QListView#sideWidget::item:selected:!active {
	color: black;
	border-image: url(:/look/arrow.png) 0 0 0 16
}

QListView#sideWidget::item:hover:!active {
	background: white;
	color: black;
}

QTableView {
	selection-background-color: #89F;
	alternate-background-color: #EEF;
}
