/* Stylesheet for help page display */
/* Author:  Jens-Malte Gottfried */
/* Date:    24.11.2008 */

body{
    font-size:          100.1%;
    color:              black;
    text-align:         left;
}

h1 {
    color:              blue;
    font-family:        sans-serif;
    font-style:         italic;
    font-size:          xx-large;
    font-weight:        bold;
    font-variant:       small-caps;
    text-align:         center;
}

h2 {
    margin-top:         15px;
    font-size:          x-large;
    font-family:        sans-serif;
    font-weight:        bold;
    font-variant:       small-caps;
    text-align:         left;
}

h3 {
    font-family:        sans-serif;
    font-weight:        normal;
    text-decoration:    underline;
    text-align:         left;
}
